# Assignment6- Data Cleaning by Aditya Yadav

# Tasks

It happens all the time: someone gives you data containing malformed strings,
Python, lists and missing data. How do you tidy it up so you can get on with the
analysis?

    Take this monstrosity as the DataFrame to use in the following puzzles:
    df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
    'londON_StockhOlm',
    'Budapest_PaRis', 'Brussels_londOn'],
    'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
    'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
    'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
    '12. Air France', '"Swiss Air"']})

1. Some values in the the FlightNumber column are missing. These numbers are <br>
    meant to increase by 10 with each row so 10055 and 10075 need to be put in <br>
    place. Fill in these missing numbers and make the column an integer column <br>
    (instead of a float column).
2. The From_To column would be better as two separate columns! Split each <br>
    string on the underscore delimiter _ to give a new temporary DataFrame with <br>
    the correct values. Assign the correct column names to this temporary <br>
    DataFrame. <br>
3. Notice how the capitalisation of the city names is all mixed up in this <br>
    temporary DataFrame. Standardise the strings so that only the first letter is <br>
    uppercase (e.g. "londON" should become "London".)
4. Delete the From_To column from df and attach the temporary DataFrame <br>
    from the previous questions. 
5. In the RecentDelays column, the values have been entered into the <br>
    DataFrame as a list. We would like each first value in its own column, eachsecond <br> 
    value in its own column, and so  on. If there isn't an Nth value, the value <br>
    should be NaN.
    Expand the Series of lists into a DataFrame named delays, rename the columns <br>
    delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df <br>
    with delays.
    Note: Solution submitted via github must contain all the source code and output.

### 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
df['FlightNumber'].iloc[1] = 10055
df['FlightNumber'].iloc[3] = 10075

df['FlightNumber'] = df['FlightNumber'].astype(int)

/home/aditya/anaconda3/envs/edunoix_virtual/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

### 2

In [4]:
df[['From','To']] =df['From_To'].str.split('_', 2, expand=True)

### 3

In [5]:
df['From'] = df['From'].str.capitalize()
df['To'] = df['To'].str.capitalize()

### 4

In [6]:
df.drop(columns = 'From_To',axis =1, inplace = True)

### 5

In [7]:
df[['delay_1','delay_2','delay_3']]= df.RecentDelays.apply(pd.Series)

In [8]:
df.drop('RecentDelays',axis=1,inplace=True)

In [9]:
df

,FlightNumber,Airline,From,To,delay_1,delay_2,delay_3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN